<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="myFortuneService" class="com.missionspring.mycoach.HappyFortuneService"/>

	<bean id="bCoach" class="com.missionspring.mycoach.BaseballCoach">
		<constructor-arg ref="myFortuneService" />
	</bean>
	
	<bean id="tCoach" class="com.missionspring.mycoach.TrackCoach">
		<!-- constructor injection -->
		<constructor-arg ref="myFortuneService" />
	</bean>
	
	

</beans>